.w1024{
	width: 1024px;
	margin: 0px auto;
	position: relative;
}

.menu-background-2{
	background-color:rgb(164,159,149);
}
.menu-background-3{
	padding:5px;
	background-color: rgb(81, 66, 45);
	color:rgb(249, 225, 189);
}

.menu-background-2 a:hover,.menu-background-2 a.selected{
	color: rgb(81, 66, 45);
}

.HomeMenuContainer .leftMargin{
	margin-left:5px;
}
.HomePanel{
	min-width:1024px;
	width:100%;
}
.HomeHeaderContainer{
	height:200px;
	overflow:hidden;
}
.HomeHeader{
	height:100%;
	position:relative;
}
.HomeHeader .Branding{
	float:left;
	margin-top:120px;
}
.TopNavigator{
	right:0px;
	position:absolute;
	bottom:0px;
}
.TopNavigator ul {
	list-style-type: none;
	float:left;
}
.TopNavigator li{
	float:left;
	padding:0px 5px;
}
.TopNavigator a{
	color: #797075;
	text-decoration:none;
	font-family:Impact
}

.HomeBannerContainer{
	/*background-image:url('../IMG/texturebanner.JPG');
	background-repeat:repeat-x;*/
	border-style:solid none;
	border-color:#4F464B
}
.HomeBannerContainer .BannerContainer{
	overflow:hidden;
}

.MainMenu{
	background:#A99E98;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	
}
.HomeMenuContainer a{
	text-decoration:none;
	color:white;
	/*font-family:Tahoma, Impact, sans-serif;
	font-weight:bold;*/
}
.MainMenu.selected,.MainMenu:hover{
	background:#8D8473
}

.tabMenuLink a{
	border-left:1px white solid;
}
.tabMenuLink{
	float:left;
	margin-left:5px;
	margin-right:5px;
	padding:8px 0px 8px 0px;
}
#divContactDetails p{
	color:#4F464B;
}

#projectsContainer .project-item{
	background-color:rgb(116,105,87);
	padding-left:5px;
	border-bottom-style:dotted;
	border-bottom-color:white;
	border-bottom-width:1px;
}

#projectsContainer .project-item:hover{
	background-color:rgb(79, 70, 75);
}
.project-item a{
	color:rgb(207, 207, 207);
	font-size: 0.9em;
}
.project-item a span{
	width:90px;
	display:inline-block;
	margin-right:15px;
	text-align:right;
}