.w1024{
	width: 1024px;
	margin: 0px auto;
	position: relative;
}

div#loading{
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 332px;
    height: 332px;
    background: url('../IMG/loading.gif') no-repeat;
    cursor: wait;
    display:none;
    margin:100px 500px;
}
.padding-left{
	padding-left:30px;
}
.menu-background-2{
	/*background-color:rgb(164,159,149);*/
	background-color:rgb(151, 141, 129);
}
.menu-background-3{
	padding:5px;
	background-color: rgb(107, 94, 77);
	color:rgb(249, 225, 189);
	border-bottom:0.5px white solid;
}
.menu-background-3:hover, .menu-background-3.selected{
	background-color:rgb(81, 66, 45);
}

.menu-background-2 a:hover,.menu-background-2 a.selected{
	color: rgb(81, 66, 45);
}

.HomeMenuContainer .leftMargin{
	margin-left:5px;
}
.HomePanel{
	min-width:1024px;
	width:100%;
	min-height:1024px;
}
.HomeHeaderContainer{
	height:200px;
	overflow:hidden;
}
.HomeHeader{
	height:100%;
	position:relative;
}
.HomeHeader .Branding{
	float:left;
	margin-top:120px;
}
.TopNavigator{
	right:0px;
	position:absolute;
	bottom:0px;
}
.TopNavigator ul {
	list-style-type: none;
	float:left;
}
.TopNavigator li{
	float:left;
	padding:0px 5px;
}
.TopNavigator a{
	color: #797075;
	text-decoration:none;
	font-family:Impact
}

.HomeBannerContainer{
	/*background-image:url('../IMG/texturebanner.JPG');
	background-repeat:repeat-x;*/
	border-style:solid none;
	border-color:#4F464B
}
.HomeBannerContainer .BannerContainer{
	overflow:hidden;
}

.next-image{
	background-image:url('../IMG/next.jpg');
	position:absolute;
	left:1024px;
	top:50px;
	width:28px;
	height:46px;
	display:none;
}
.prev-image{
	background-image:url('../IMG/prev.jpg');
	position:absolute;
	left:-28px;
	top:50px;
	width:28px;
	height:46px;
	display:none;
}
.MainMenu{
	background:rgb(168,159,150);
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'Francois One', sans-serif;
	border-bottom: 0.5px #4F464B solid;
	border-top: 0.5px #4F464B solid;
}
.HomeMenuContainer a{
	text-decoration:none;
	color:white;
	/*font-family:Tahoma, Impact, sans-serif;
	font-weight:bold;*/
}
.HomeMenuContainer ul{
	list-style-type:none;
}
.MainMenu.selected,.MainMenu:hover{
	background:rgb(116, 105,87);
}

.menu-background-3 a{
	color:rgb(249, 225, 189);
}

.tabMenuLink a{
	border-left:1px white solid;
}
.tabMenuLink{
	float:left;

	margin-right:10px;
	padding:7px 0px 7px 0px;
}
#divContactDetails p{
	color:#4F464B;
}

.project-list{
	display:none;
}
#projectsContainer .project-item{
	background-color:rgb(151, 141, 129);
	padding-left:5px;
	border-bottom-style:dotted;
	border-bottom-color:white;
	border-bottom-width:1px;
}

#projectsContainer .project-item:hover{
	background-color:rgb(135, 123, 109);
}
.project-item a{
	color:rgb(207, 207, 207);
	font-size: 0.9em;
}
.project-item a span{
	width:115px;
	display:inline-block;
	margin-right:40px;
	text-align:right;
}
